<h1>{{title}}</h1>

<h3>Number of Sentences : {{nos}}</h3>

Number of words in sentences
<ol>
{{#each listwd}}
  <li>{{this}}</li>
{{/each}}
</ol>


Frequency of words in sentences
<p>
<ol>

{{#each listed}}
  <li>{{this}} </li>
{{/each}}
</ol>
</p>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/javascripts/output.js"></script>


<div id="chartContainer" style="height: 300px; width: 100%;"></div>


