<h1>{{title}}</h1>

<h3>Number of Sentences : {{nos}}</h3>

Number of words in sentences
<ol>
{{#each wordarr}}
  <li>{{ this }}</li>
{{/each}}
</ol>


<h3>Concordance of Words : </h3>

<ol>
{{#each word}}
  <li>alert("word: " + {{this}} + " concordance: " );</li>
{{/each}}
</ol>




<h3>Concordance of Words : </h3>
<!-- for (word in concordance) {
    alert("word: " + word + " concordance: " + concordance[word]);
}
//-->



<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">

window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer", {
		title:{
			text: "Distribution of Words per Sentence"           
		},
		data: [              
		{
			// Change type to "doughnut", "line", "splineArea", etc.
			type: "column",
			dataPoints: [
				{ label: "apple",  y: 10  },
				{ label: "orange", y: 15  },
				{ label: "banana", y: 25  },
				{ label: "mango",  y: 30  },
				{ label: "grape",  y: 28  }
			]
		}
		]
	});
	chart.render();
}
</script>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>