<!-- Yinqiao's page -->

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset=utf-8>
<title>Hello, Express</title>
</head>

<body>

<h1>Number Formatter</h1>

	<form   action="/format-numbers"   method="post">       numbers:
      <input   type="text"   name="numbers">
      <input   type="submit"   value="format!"> </form>



  </body>
</html>