<<<<<<< HEAD
<!-- Yinqiao's page -->

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset=utf-8>
<title>Hello, Express</title>
</head>

<body>

<h1>Number Formatter</h1>

	<form   action="/format-numbers"   method="post">       numbers:
      <input   type="text"   name="numbers">
      <input   type="submit"   value="format!"> </form>



  </body>
</html>
=======
<h1>{{title}}</h1>
<form action="/aurl" method="post">
  <p>Enter text:<br/>
  <textarea style="font-family:calibri" type="text" name="textdata" rows="10" cols="100"></textarea><br/>
  <input type="submit" value="Submit"></p>
</form>
>>>>>>> 6b6b383762e91078a2a842eb61a601c0732b3a26
