<h1>{{title}}</h1>
<form action="/aurl" method="post">
  <p>Enter text:<br/>
  <textarea style="font-family:calibri" type="text" name="textdata" rows="10" cols="100"></textarea><br/>
  <input type="submit" value="Submit"></p>
</form>