
<h1 class="title is-1">{{title}}</h1>
<form class="box" action="/ajax/test" method="post">
  <p>Paste some or maybe lots of text (eg. a wikipedia article) and we will analyze it for you in form of cool graphs:<br/>
  <textarea id="tt" style="font-family:calibri" type="text" name="textdata" rows="10" cols="100"></textarea><br/>
  <button class= "button" id="btn">Submit</button></p>
</form>