
<h1 class="title is-1">{{title}}</h1>
<form class="box" action="/aurl" method="post">
  <p>Paste some or maybe lots of text (eg. a wikipedia article) and we will analyze it for you in form of cool graphs:<br/>
  <textarea style="font-family:calibri" type="text" name="textdata" rows="10" cols="150"></textarea><br/>
  <input class= "button" type="submit" value="Submit"></p>
</form>